body {
	background-color: #bdbaba;
	color: #b22222;
	margin: 0;
}

.text-center {
  text-align: center;
}

.gallery-container {
  width: 300px;
  height: 200px;
  overflow-x: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.gallery-img {
	height: 200px;
    width: 300px;
	position: absolute;
    top: 0;
}

.gallery-prev {
    left: -100%;
}

.gallery-prev-curr {
    left: 0;
    transition: left 1s;
}

.gallery-next {
    left: 100%;
}

.gallery-next-curr {
    left: 0;
    transition: left 1s;
}

.gallery-curr {
    left: 0;
}

.gallery-curr-prev {
    left: -100%;
    transition: left 1s;
}

.gallery-curr-next {
    left: 100%;
    transition: left 1s;
}

.btn {
	background-color: #e6e050;
	border: 3px solid;
	border-bottom-color: #bbb761;
	border-right-color: #bbb761;
	border-left-color: #dad233;
	border-top-color: #dad233;
	font-weight: 600;
	margin: 5%;
}

.btn:hover {
	background-color: #b22222;
	color: #e6e050;
	border: #b22222;
}

.btn:focus{
	outline: none;
}